.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.reset-password-box {
  width: 400px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
}

.reset-password-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password-box label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  display: block;
}

.reset-password-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 15px; 
  font-size: 14px;
  box-sizing: border-box; 
}

.password-description {
  font-size: 12px;
  color: #555;
  margin-top: 10px;
}

.password-description ul {
  list-style-type: none;
  padding-left: 0;
}

.password-description ul li {
  margin-bottom: 5px;
}

.password-error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px;
  border: none;
  border-radius: 15px; 
  font-size: 14px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.submit-button:hover {
  opacity: 0.9;
}

.redirect-options {
  margin-top: 15px;
  text-align: center;
}

.redirect-options a {
  color: #007bff;
  text-decoration: none;
  font-size: 12px;
}

.redirect-options a:hover {
  text-decoration: underline;
}
