.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.box {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  color: #007bff;
  font-size: 36px;
}

.paragraph {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

/* Participant-Dashboard.css */
.quiz-performance {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.quiz-summary {
  margin-top: 20px;
}

.quiz-summary p {
  font-size: 16px;
  margin: 5px 0;
}
